/* body {
  margin: 20px;
}

.subject{
  font-size: 14px;
  font-weight: 600;
  color: #296897;
  background: pink;

}



.term {
  background-color: aqua;
  display: flow-root;

}


.thumbnail {

  background: lime;

}

.description {

font-size: 14px;
background: aqua;
} */

/* 컴포넌트 */
.term {
  --accent-color: #296897;
  --text-size: 1rem;

  display: flow-root;
  font-size: var(--text-size);

  .subject {
    font-weight: 600;
    color: var(--accent-color);
    font-size: 1.2em;
  }

  .subject,
  .description {
    float: right;
    width: calc(100% - 76px);
  }

  .thumbnail {
    float: left;
    margin-right: 16px;
  }

  .description {
    margin-top: 10px;
    font-size: 1em;
  }
}
