body {
  margin: 20px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

/* 아바타 컴포넌트 */
/* <figure>요소 */
.avatar-img {
  /* 영역이 잘 선택되었는지 확인하는 방법 - 배경 또는 박스 그림자 */
  background-color: #ffc;

  /* 전역변수를 설정해서 --size항 하나만 수정하면 다 변화함  */
  --size: 64px;

  width: var(--size);
  height: var(--size);
  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  span {
    display: block;
    width: 28.125%;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .on {
    background-color: #4cfe88;
  }

  .off {
    background-color: #dbdbdb;
  }
}

/* <button>요소
.avatar-button {
  background-color: transparent;
  /* agent 스타일이 이미 정해져있으므로 0으로 둘다 지정해보기 */
/* padding: 0;
  border: 0 none;
  /* border는 숏핸드 스타일 ! */
/* --size: 64px;

  width: var(--size);
  height: var(--size); */
/* aspect-ratio: 1 / 1; 가로 1 세로 1의 비율로 잡는다. */

/* img {
  width: 100%;
  height: 100%;
}

%::after {
  /* 이러면 아바타 버튼 after 가 됨 */
/* content: '';
}  */

/* <button> 요소 */
.avatar-button {
  background-color: transparent;
  padding: 0;
  border: 0 none;
  position: relative;

  --size: 64px;

  width: var(--size);
  height: var(--size);
  /* aspect-ratio: 1/1; */

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &::after {
    content: '';
    display: block;
    width: 28.125%;
    height: 28.125%;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: red;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &[aria-label='online']::after {
    background-color: #4cfe88;
  }

  &[aria-label='offline']::after {
    background-color: #dbdbdb;
  }
}
